<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">

    <form action="/access/new" method="post">
        <div class="form-group">
            <label for="key">KEY</label>
            <input type="text" id="key" name="key"><br>
            <label for="userType">USER TYPE</label>
            <input type="number" id="userType" name="userType"><br>
            <label for="dateTime">DATE TIME</label>
            <input type="datetime-local" id="dateTime" name="dateTime"><br>
            <label for="buildingType">BLD TYPE</label>
            <input type="number" id="buildingType" name="buildingType"><br>
        </div>
        <button type="submit">등록</button>
    </form>
</div>
</body>
</html>