<!DOCTYPE html>
<html lang="ko-kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select Language</title>
</head>
<body>
    <h1>Select Language</h1>
    <form>
        <input type="radio" id="korean" name="language" value="korean">
        <label for="korean">한국어</label><br>
        <input type="radio" id="english" name="language" value="english">
        <label for="english">English</label><br>
        <input type="radio" id="chinese" name="language" value="chinese">
        <label for="chinese">中文</label><br>
        <input type="submit" value="시작">
    </form>
</body>
</html>