<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>언어 선택</title>
</head>
<body>
    <h1>언어 선택</h1>
    <form action="{% url 'select_user_type' %}">
        <input type="radio" id="korean" name="language" value="k" checked="checked">
        <label for="korean">한국어</label><br>
        <input type="radio" id="english" name="language" value="e">
        <label for="english">English</label><br>
        <input type="radio" id="chinese" name="language" value="c">
        <label for="chinese">中文</label><br>
        <input type="submit" value="선택">
    </form>
</body>
</html>